@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap");
@font-face {
  font-family: "Caslon Graphique";
  src: url("/assets/fonts/CaslonGraphique-Opti.otf");
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  color: #313131;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

main {
  padding: 16px;
}

h1 {
  margin: 0;
  margin-bottom: 8px;
  font-family: "Caslon Graphique";
  // background: rgb(54, 48, 210);
  // background: linear-gradient(
  //   156deg,
  //   rgba(54, 48, 210, 1) 9%,
  //   rgba(70, 165, 252, 1) 100%
  // );

  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // background-clip: text;
  // -moz-text-fill-color: transparent;
}

a {
  color: inherit;
  text-decoration: inherit;
}
