.section {
  margin-top: 50px;

  .split {
    display: flex;
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      flex-flow: column;
    }
  }

  .left {
    flex: 2;
    padding-right: 20px;
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .right {
    flex: 1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    margin-top: 0;
    .left,
    .right {
      border-radius: 0;
    }
  }

  .project {
    box-shadow: 0 0 10px 0 #adadad;
    border-radius: 10px;
  }

  .tuckshop {
    color: white;

    .left,
    .right {
      background-color: #e61c67;
    }

    h3 {
      margin-top: 0;
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
      .right {
        background-color: transparent;
      }
    }

    a {
      color: currentColor;
      text-decoration: underline;

      &.cta-white {
        background-color: white;
        color: #e61c67;
        text-decoration: none;
        &:hover {
          background-color: rgb(216, 216, 216);
        }
      }

      &:hover:after {
        opacity: 0;
      }
    }
  }
}
