@import "../../styles/breakpoints";

.header {
  padding: 16px;
  background-color: #a5a5a5;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999999;

  .content {
    display: flex;
    align-items: center;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

.menuIcon {
  display: none;
}

.brand {
  flex: 2;
  font-family: "Caslon Graphique";
  letter-spacing: 1px;
}

.contact {
  flex: 1;
  text-align: right;
}

.image {
  height: 600px;
  background-image: url(/assets/images/chalet1.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.nav {
  // display: none;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    li {
      flex: 1;
      text-align: center;
      margin: 8px;
      position: relative;

      a {
        &:after {
          content: " ";
          position: absolute;
          bottom: -1px;
          height: 2px;
          left: 50%;
          right: 50%;
          background-color: currentColor;
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }

        &:hover {
          &:after {
            opacity: 1;
            left: 0;
            right: 0;
          }
        }
      }
      .active {
        a {
          &:after {
            left: 0;
            right: 0;
            opacity: 1;
          }
        }
      }
    }
  }
}

@include phone {
  .menuIcon {
    display: block;
    position: absolute;
  }

  .brand {
    // text-align: center;

    .title {
      font-size: 1.7em;
    }

    .tagline {
      display: none;
    }
  }

  .contact {
    display: none;
  }
}
