@import "../../styles/breakpoints";

.footer {
  padding: 16px;
  font-size: 0.8em;

  .wrapper {
    display: flex;
    align-items: center;

    @include phone {
      align-items: flex-start;
    }
  }

  .left,
  .right {
    flex: 1;
  }

  .right {
    text-align: right;

    a {
      color: inherit;
    }
  }

  .icon {
    margin-left: 8px;
  }
  .facebook {
    color: #3b5998;
  }
  .instagram {
    color: #c13584;
  }
}
